<!-- Included CSS Files (Compressed) -->
<link rel="stylesheet" href="lib/hydrais/p/platform/public/css/bootstrap.css">
<link rel="stylesheet" href="lib/hydrais/p/platform/public/css/flat-ui.css">
<link rel="stylesheet" href="lib/hydrais/p/platform/public/css/style.css">

<div id="platform"></div>