<div class="window">
	<h1>Test</h1>
</div>

<style>
.window
{
	position: 			fixed;
	z-index: 			999;
	border-radius: 		5px;
	background-color: 	#fff;
	width: 				200px;
	height: 			200px;
	top: 				10px;
	left: 				10px;
}
</style>