/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
pre
{
	border:					1px solid #ccc;
	background-color:		#e3e3e3;
	font-family:			monospace;
	font-size:				12px;
	line-height:			20px;
	padding:				3px;
	border-radius:			2px;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


