<% include layout/header %>
<% include layout/nav %>

<div class="row">
	<div class="twelve columns">
		<div class="panel">
			<div class="row">
				<div class="twelve columns">
					<h1>P Documentation</h1>
					<p>This site is designed to get you up and running with everything you need to know
						about the P Framework.</p>
				</div>
			</div>

			<div class="row">
				<div class="ten columns">
					<a href="controllers.html" class="button">Controllers</a>
					<a href="#" class="button">Models</a>
					<a href="views.html" class="button">Views</a>
				</div>

				<div class="two columns">
					<a class="secondary button">Modules</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="four columns">
		<h3>Quick Start Tutorial</h3>

		<ul class="nav-bar vertical">
			<li><a href="p-operator.html">1. The P Operator</a></li>
			<li><a href="p-mvc.html">2. The P MVC</a></li>
			<li><a href="controllers.html">3. Controllers</a></li>
			<li><a href="views.html">4. Views</a></li>
			<li><a href="#">5. Models</a></li>
		</ul>
	</div>

	<div class="four columns">
		<h3>Advanced Topics</h3>

		<ul class="nav-bar vertical">
			<li><a href="#">Extending P With Modules</a></li>
			<li><a href="#">Scaling P Across Servers</a></li>
		</ul>
	</div>

	<div class="four columns">
		<h3>Popular Docs</h3>

		<ul class="nav-bar vertical">
			<li><a href="#">P Object Reference</a></li>
			<li><a href="#">Element Object Reference</a></li>
		</ul>
	</div>
</div>

<% include layout/footer %>
