<% include layout/header %>
<% include layout/nav %>

<div class="row">
	<div class="three columns">
		<ul class="nav-bar vertical">
			<li><a href="p-operator.html">1. The P Operator</a></li>
			<li><a href="p-mvc.html">2. The P MVC</a></li>
			<li><a href="controllers.html">3. Controllers</a></li>
			<li class="active"><a href="views.html">4. Views</a></li>
			<li><a href="#">5. Models</a></li>
		</ul>
	</div>

	<div class="nine columns">
		<div class="row">
			<div class="panel">
				<div class="row">
					<div class="twelve columns">
						<h1>Views</h1>
						<p>The user interface of your application</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div>
				<h1 class="subheader"><small>EJS</small></h1>
				
				<p>By default, P uses the <strong>EJS templating engine</strong>. EJS allows you to
					write traditional HTML, and use the familiar JavaScript language to process data
					in your view.</p>
					
				<p>
					<a class="small button" href="#">EJS Documentation</a>
				</p>
			</div>
			
			<div>
				<h1 class="subheader"><small>Using Controller Data</small></h1>
				
				<div class="panel">
					<p><span class="label">
						To send data to a view in a controller...
					</span></p>
				
					<pre>P.view("index", { name: "John" });</pre>
				</div>
				
				<div class="panel">
					<p><span class="label">
						To use controller data in a view...
					</span></p>
				
					<pre>&lt;p&gt;Hello, &lt;%=name%&gt;&lt;p&gt;</pre>
				</div>
			</div>
			
			<div>
				<h1 class="subheader"><small>Using Global Data</small></h1>
				
				<p>In P, you can set <strong>Global Data</strong> that can be used anywhere you
					have access to the <code>P</code> operator. In views, you have access to the <code>P</code>
					operator, which means you can use global data. This is handy for storing information
					that you will reuse across your app such as the user's name, email address, etc.</p>
				
				<div class="panel">
					<p><span class="label">
						To set global data...
					</span></p>
				
					<pre>P.global("name", "John");</pre>
				</div>
				
				<div class="panel">
					<p><span class="label">
						To use global data in a view...
					</span></p>
				
					<p><pre>&lt;p&gt;Hello, &lt;%=P.global("name")%&gt;&lt;p&gt;</pre></p>
					
					<p>
						<span class="label">NOTE</span> To use or set global data, you simply
						call the <code>global</code> method in the <code>P</code> operator.
						This means you can even set global data in a view.
					</p>					
				</div>
			</div>
			
			<div>
				<h1 class="subheader"><small>Foundation Front-end Framework</small></h1>
				
				<p>P comes pre-configured to use Foundation, a front-end framework which
					makes your user interface look great right from the start. These docs
					use Foundation, and Foundation lets you get started with your app without
					worrying about the look and feel of your app.</p>
					
				<p>
					<a class="small button" href="#">Foundation Website</a>
				</p>
				
				<h2 class="subheader"><small>Customize Foundation</small></h2>
				
				<p>If you wish to customize your app's style, you can modify the
					<code>app/public/css/app.css</code> file.</p>
				
				
				<h2 class="subheader"><small>Disable Foundation</small></h2>
				
				<p>
					If you don't want to use Foundation, you can remove everything between the
					<code>&lt;!-- FOUNDATION --&gt;</code> and the <code>&lt;!-- END FOUNDATION --&gt;</code>
					HTML comments in the <code>index.html</code> file at the root of the P app.
				</p>
				
				<p><pre style="color: red;">&lt;!-- FOUNDATION --&gt;

&lt;!-- Included CSS Files (Compressed) --&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;app/public/css/foundation.min.css&quot;&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;app/public/css/app.css&quot;&gt;

&lt;script src=&quot;app/public/js/modernizr.foundation.js&quot;&gt;&lt;/script&gt;

&lt;!-- IE Fix for HTML5 Tags --&gt;
&lt;!--[if lt IE 9]&gt;
&lt;script src=&quot;http://html5shiv.googlecode.com/svn/trunk/html5.js&quot;&gt;&lt;/script&gt;
&lt;![endif]--&gt;

&lt;!-- END FOUNDATION --&gt;</pre></p>

			</div>
		</div>
	</div>
</div>

<% include layout/footer %>