<div class="row">
	<div class="twelve columns">
    	<nav class="top-bar">
      		<ul>
        		<!-- Title Area -->
        		<li class="name">
          			<h1>
            			<a href="#">P Framework</a>
          			</h1>
        		</li>
        		<li class="toggle-topbar"><a href="#"></a></li>
      		</ul>
    	</nav>
  	</div>
</div>

<% if (P.config.platformEnabled == true) { %>
	
<script type="text/javascript">
	window.platformInitialized = false;
										  
	$(document).on("keyup", function(e) {
		if (e.which == 118) {
			if (window.platformVisible == true) {
				window.platformVisible = false;
				$('#platform').fadeOut();	
			}
			
			else {
				window.platformVisible = true;
				
				if (window.platformInitialized == false) {
					P.controller("platform").show();
					window.platformInitialized = true;
				}
				
				$('#platform').fadeIn();
			}				
		}
	});
</script>

<% } %>