<script type="text/javascript">
setTimeout(function() {
	$('.swiftWindow')

	.draggable({
		handle: '.title'
	})
	
	$('.swiftWindow > .title').on("mousedown", function() {
		$('.swiftWindow').css({ 'z-index': '0' });
		$(this).parent().css({ 'z-index': '999' });
	})
}, 1000);
</script>

<div class="title"><%=title%></div>
<div class="content"></div>

<script type="text/javascript">
(function($) {
	<% if (typeof draggable !== 'undefined') { %>
		$('.swiftWindow').draggable({
			handle: '.title'
		});
	<% } %>

	<% if (typeof resizable !== 'undefined') { %>
		$('.swiftWindow').resizable();
	<% } %>

	$('.swiftWindow').on("mousedown", function() {
		$('.swiftWindow').css("z-index", "800");
		$('.swiftWindow').css("box-shadow", "0px 0px 10px rgba(0, 0, 0, 0.2)");

		$(this).css("box-shadow", "0px 0px 20px rgba(0, 0, 0, 0.2)");
		$(this).css("z-index", "999");
	});
})(jQuery);
</script>
