<br /><br />

<div class="container">
	<div class="row">
		<div class="span4">
			<h1>Login to Platform</h1>
			
			<p>You will need to login in order to use Platform. Please make sure your account has the 
				<code><%=global.config.app.platform.requiredPermission%></code> permission.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="span4">
			<div id="loginError" style="display: none;" class="alert-box alert"></div>
			
			<form p:action="platform.handle">
				<input type="hidden" name="controller" value="account" />
				<input type="hidden" name="action" value="login" />
				
				<p>
					<input class="span4" type="text" name="email" placeholder="Email Address" />
				</p>
				
				<p>
					<input class="span4" type="password" name="password" placeholder="Password" />
				</p>
				
				<p>
					<input type="submit" class="pull-left btn btn-primary" value="Login" />
					<a href="#" class="pull-right btn">Make an Account</a>
				</p>
			</form>
		</div>
	</div>
</div>