<style type="text/css">
#platform
{
	position:			fixed;
	top:				0px;
	left:				0px;
	right:				0px;
	bottom:				0px;
	z-index:			999;
  	background-color: #202020;
  	overflow:			hidden;
}
</style>

<link rel="stylesheet" href="lib/p/platform/codemirror/lib/codemirror.css">
<script src="lib/p/platform/codemirror/lib/codemirror.js"></script>
<script src="lib/p/platform/codemirror/addon/dialog/dialog.js"></script>
<link rel="stylesheet" href="lib/p/platform/codemirror/addon/dialog/dialog.css">
<script src="lib/p/platform/codemirror/addon/search/searchcursor.js"></script>
<script src="lib/p/platform/codemirror/addon/search/search.js"></script>
<script src="lib/p/platform/codemirror/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="lib/p/platform/codemirror/theme/ambiance.css">

<div id="platform">
	<div style="position: fixed; left: 0px; top: 0px; bottom: 0px; width: 300px;" id="platformFileView">
	</div>

	<div style="position: fixed; left: 300px; top: 0px; padding: 0px; background-color: #3e3e3e; right: 0px;">
		<ul class="nav-bar" style="height: 45px; margin: 0px;" id="tabs">
			<!--<li style="height: 45px; padding-top: 2px;"><a href="#">index.html</a></li>-->
		</ul>
	</div>

	<div style="position: fixed; left: 300px; top: 45px; bottom: 0px; right: 0px;" id="editContainer">
		<textarea style="position: fixed; left: 300px; top: 0px; bottom: 0px; right: 0px;" id="code"></textarea>
	</div>
</div>

<script type="text/javascript">
(function($) {
	$(document).on("keydown", function(e) {
		window.openFiles = {};

		//console.log(e.ctrlKey);
		//console.log(e.metaKey);
		//console.log(e.which);
		
		if (e.which == 119) {
			$('#runP').remove();
			
			$('<div></div>')
			
			.css({
				'background-color': 			'#000',
				'border-radius':				'0px 0px 5px 5px',
				'padding':						'5px',
				'position':						'fixed',
				'z-index':						'999',
				'top':							'0px',
				'right':						'20px',
				'display':						'none'
			})
			
			.attr("id", "runP")
			
			.appendTo($('body'))
			
			.fadeIn();
			
			
			$('<input type="text" />')
			
			.on("keyup", function(e) {
				if (e.which == 13) {
					var value = $(this).val();
					
					var controller = value.split(".")[0];
					var action     = value.split(".")[1];
					
					P.controller(controller, action);
					
					$(this).parent().fadeOut(function() {
						$(this).remove();
					});
				}
				
				else if (e.which == 27) {
					$(this).parent().fadeOut(function() {
						$(this).remove();
					});
				}
			})
			
			.appendTo($('#runP'))
			
			.css({
				'background-color': 			'#000',
				'color': 						'#fff',
				'font-family':					'Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace',
				'border':						'none',
				'outline':						'none',
				'padding':						'5px',
				'margin':						'0px'
			})
			
			.attr("placeholder", "controller.action")
			
			.focus();
		}
		
		else if ((e.ctrlKey == true && e.which == 83) || (e.metaKey && e.which == 83)) {
			e.preventDefault();

			P.controller("platform").save({ name: window.activeFile, contents: window.editor.getValue() }, function(result) {
				if (result == true) {
					$('<div></div>')

					.css({
						'background-color': 	'#000',
						'border-radius': 		'0px 0px 5px 5px',
						'padding': 				'5px',
						'color': 				'#fff',
						'position': 			'fixed',
						'z-index': 				'999',
						'top': 					'0px',
						'right': 				'20px',
						'display': 				'none'
					})


					.html("<i class='icon-ok'></i> Saved")

					.appendTo("body")

					.fadeIn(function() {
						var $this = $(this);

						setTimeout(function() {
							$this.fadeOut(function() {
								$this.remove();
							});
						}, 2000);
					});
				}

				else {
					$('<div></div>')

					.css({
						'background-color': 	'#000',
						'border-radius': 		'0px 0px 5px 5px',
						'padding': 				'5px',
						'color': 				'#fff',
						'position': 			'fixed',
						'z-index': 				'999',
						'top': 					'0px',
						'right': 				'20px',
						'display': 				'none'
					})

					.html("<i class='icon-remove'></i> Save Failed")

					.appendTo("body")

					.fadeIn(function() {
						var $this = $(this);

						setTimeout(function() {
							$this.fadeOut(function() {
								$this.remove();
							});
						}, 2000);
					});
				}
			});
		}
	})

	$(window).resize(function() {
		$('.CodeMirror').css("height", $(document).height() - 45 + "px");
	});

	setTimeout(function() {
		window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
			lineNumbers: true,
			tabSize: 4,
			indentWithTabs: true,
		  	indentUnit: 4,
			theme: 'ambiance'
		});
		
		window.editor.on("change", function(instance, changeObject) {
			if (window.ignoreNextChange) {
				window.ignoreNextChange = false;
			}

			else {
				P.controller("platform").change({
					file: window.activeFile,
					change: changeObject
				});
			}
		});

		$('.CodeMirror').css("height", $(document).height() - 45 + "px");
	}, 100);

	var openFiles = {};

	P.socket.on("platform-edit-file", function(file) {
		if (window.openFiles === undefined) window.openFiles = {};

		if (file.name === undefined) file.name = "";

		var shortname = file.name.split("/");
		shortname     = shortname[shortname.length - 1];

		if (window.openFiles[file.name]) {
			$('.tab').removeClass('active');
			$('li[data-file="' + file.name + '"]').addClass("active");
		}

		else {
			$('.tab').removeClass("active");

			$('<li></li>')

			.css({
				'height': 		'45px',
				'padding-top': 	'2px'
			})

			.addClass("tab")

			.addClass("active")

			.attr('data-file', file.name)

			.html("<a href='#'><i class='icon-file-alt'></i> " + shortname + "</a>")

			.appendTo($('#tabs'))

			.click(function() {
				$('.tab').removeClass("active");
				$(this).addClass("active");
				
				P.controller("platform").edit($(this).attr("data-file"));
			})

			.bind("contextmenu", function(e) {
				if (window.activeFile == $(this).attr('data-file')) {
					window.editor.setValue("");
					window.activeFile = undefined;
				}

				delete window.openFiles[$(this).attr('data-file')];
				e.preventDefault();
				$(this).remove();
			});
		}

		window.openFiles[file.name] = file.contents;

		if (window.activeFile != file.name) {
			window.activeFile = file.name;
			window.ignoreNextChange = true;
			window.editor.setValue(window.openFiles[file.name]);
		}
	});

	P.socket.on("platform-editor-changed", function(data) {
		if (data.file != window.activeFile) return;

		var handleChange = function(change) {
			window.ignoreNextChange = true;
			window.editor.replaceRange(change.text, change.from, change.to);

			if (change.next) {
				handleChange(change.next);
			}
		};

		handleChange(data.change);
	});
})(jQuery);
</script>