<br />

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="#">Platform</a></li>
						<li><a href="#" p:link='platform.handle.{ "controller": "users", "action": "index" }'>Users</a></li>
						<li><a href="#" p:link='platform.handle.{ "controller": "account", "action": "logout" }'>Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>