<% include ../layout/navbar %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="panel" id="sidebar">
				<h1>Sidebar</h1>
			</div>
		</div>
		
		<div class="span9" id="content">
			<h1>Content</h1>
		</div>
	</div>
</div>